<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./static/favicon/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="./static/favicon/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">
    <link rel="manifest" href="./static/favicon/site.webmanifest">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: black;
            height: 100vh;
            overflow: hidden;
        }
    </style>
    <title>Shalin Naidoo</title>
</head>
<body>
    <canvas id="Matrix"></canvas>
    <script src="./static/js/matrix.js"></script>
    <div hx-get="/welcome" hx-trigger="load delay:2s" hx-swap="outerHTML"></div>
</body>
</html>
